/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tfoot, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*STYLE CSS*/
body{
    font: 16px/28px arial, sans-serif;
    background-color: darkgray;
}

.container{
    width: 800px;
    margin: auto;
    background-color: whitesmoke;
}

.header{
    padding: 20px;
}

.header .judul{
    font-size: 40px;
    font-weight: bold;
}

.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a{
    text-decoration: none;
    color: lightslategray;
    padding: 3px;
}

.header a:hover{
    background-color: black;
    color: white;
}

.hero{
    height: 425px;
    background-image: url(image/aboutMe.jpg);
    background-size: cover;
    background-position: 0 -100px;
    border-top: 5px solid lightslategray;
    border-bottom: 5px solid black;
}

.content{
    padding: 20px;
}

.content .text{
    text-indent: 50px;
    text-align: justify;
}

.content h2{
    font-weight: bold;
}

table{
    text-align: center;
}

.footer{
    padding: 15px;
    font-size: 13px;
    background-color: black;
    color: white;
    text-align: center;
}
